.container {
    background-color: rgb(238, 184, 184);
    color: red;
    border-radius: 10px;
    margin-top: 2rem;
}
.text {
    padding: 2rem 5rem;
    font-weight: bolder;
    font-size: 1.5rem;
}